<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<h3>Доступные товары: </h3>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}">
    <p th:text="'Описание: ' + ${product.getDescription()}">
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>

    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <hr>
</div>
</body>
</html>