<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h3>Главная страница магазина</h3>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Выйти из личного кабинета">
<!--    <a href="/product">Список товаров</a>-->
</form>

<form th:method="POST" th:action="@{/product/search}">
    <fieldset>
    <legent>Выберите параметр для сортировки: </legent>
    <br>
        <label for="search">Поиск по наименованию: </label>
        <input name="search" id="search">
        <p>Цена, Руб.</p>
        <label for="ot">От: </label>
        <input type="text" name="ot" id="ot">
        <label for="do">До: </label>
        <input type="text" name="do" id="do">
        <br>
        <label for="ascending_price">Сортировать по возрастанию цены</label>
        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
        <label for="descending_price">Сортировать по убыванию цены</label>
        <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">

    </fieldset>
    <br>
</form>

<h3>Доступные товары: </h3>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}">
<!--    <p th:text="'Описание: ' + ${product.getDescription()}">-->
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
<!--    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>-->
<!--    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>-->

    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <hr>
</div>

<script th:src="@{/js/script.js}" ></script>
</body>
</html>